*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.grid-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  /* grid-template-rows: 20px 20px; */
  /* border: 1px solid grey; */
}
div.grid-container div{
   /* border: 1px solid blue; */
}
div.leftside{
  background-color: cornflowerblue;
  /* height: 138vh; */
  /* position: relative; */
  /* height: 100%; */
  padding: 24px;
  /* border: 1px solid yellow; */
}
div.left-head{
  display: flex;
  margin-bottom: 30px
}
div.leftside ul li a{
  padding: 10px 5px;
  /* border: 1px solid red; */
}
div.leftside ul li a:hover{
  background-color: rgba(0, 0, 0, 0.5);
  /* border: 1px solid red; */
}
div.leftside ul li a p{
  color: white;
}
div.leftside ul li a span{
  margin-right: 20px;
  display: inline-block;
}
div.leftside i{
  color: white;
}
div.leftside ul.fnav-list{
  margin-bottom: 20px;
}
div.right-side div.righthead{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 28px;
}
div.righthead input{
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
}
div.right-side div.top-right{
  display: grid;
  grid-template-columns: auto auto auto;
}
div.rtshead{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div.lgs{
  display: grid;
  grid-template-columns: auto auto 3fr;
  align-items: center;
  /* border: 1px solid green; */
}
div.lgs div{
  /* border: 1px solid green; */
  margin-left: 20px;
}
div.rgs{
  /* border: 1px solid green; */
  border-radius: 4px;
}
div.rgs button{
  border: none;
  color: white;
  font-size: 16px;
  background-color: cornflowerblue;
  padding: 6px 20px;
  border-radius: 8px;
  margin-right: 30px;
}
div.uppersection{
  box-shadow: 0px 2px 1px rgba(0,0,0,0.4);
  padding: 28px;
}
div.rightbody{
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  padding: 25px;
}
div.rightbody div.gridcont{
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(2, minmax(300px, 50%));
  grid-template-rows: repeat(3, 250px);
  /* grid-auto-rows: 250px; */
  gap: 25px;
  padding: 25px;
}
div.rightbody > div{
  /* border: 1px solid green; */
}
div.card{
  background-color: white;
  padding: 20px;
  border-left: 10px solid gold;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.4);
  border-radius: 5px;
  /* overflow: scroll; */
  position: relative;
  overflow: auto;
  /* height: 225px; */
  /* max-width: 40px; */
  /* text-align: left; */
}
div.card p{
  font-size: 17px;
}
div.icons{
  position: absolute;
  /* text-align: right; */
  /* margin-top: 30px; */
  bottom: 20px;
  right: 15px;
}
div.icons i{
  margin-right: 15px;
}
div.rightsect div{
  background-color: white;
  border-radius: 5px;
}
div.rightsect h3{
  margin-bottom: 25px;
}
div.innsect, div.innsect2 {
  box-shadow: 0px 2px 1px rgba(0,0,0,0.4);
}
div.innsect hr{
  margin: 20px 0;
}
div.innsect2 div.tr1{
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  margin-bottom: 20px;
}
div.tr1 p{
  margin: 4px 0;
}

@media screen and (max-width: 1000px){
  div.right-side div.rightbody{
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
  }
  div.right-side div.righthead{
    grid-template-columns: 1fr;
    /* margin-bottom: 28px; */
  }
  div.righthead input{
    /* width: 80%; */
}
div.right-side div.top-right{
  /* display: grid; */
  justify-content: center;
  /* grid-template-columns: auto auto; */
}
div.rtshead{
  /* border: 2px solid green; */
  grid-template-columns: 1fr;
}
div.rtshead div{
  margin: 0 auto;
  margin-bottom: 15px;
}
}
